<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


        <link rel="stylesheet" href="../static/style.css">
</head>

<body>
        <!-- navigation bar -->
        <nav class="navbar navbar-light" style="background-color: rgb(27, 181, 58);">
            <h2> Car Tyre Performance</h2>
            <hr width="100%">
            <!-- <div>
                
                <a href="{{url_for('predict')}}">predict</a>

            </div> -->
        </nav>

        
        <div id="daterange" class="shadow bg-white rounded">
            <form action="/predict" method="POST">
            <input type="number" id="rpminput"  placeholder="RPM" name="RPM "><br>
            <input type="number" id="vibinput"  placeholder="Vibration" name="vibration"><br>
            <input type="number" id="tempinput" placeholder="Temperature" name="temperature"><br>
            <input type="number" id="presinput" placeholder="Pressure" name="pressure"><br><br>
            <button type="submit"id="plotbtn" class="btn btn-success">GET Tyre Condition</button>
            </form> 

        <br>
        <br>
                {{ prediction_text }}

        </div>
    </body>
</html>